.App_Main{
  overflow: hidden;
  background-color: black !important;
  width: fit-content;
  height: fit-content;
  
}

.App-header{
  position: absolute;
  background-color: blue !important;
  height: max-content;
}
